[submodule "ClassExercises/Week6_HMM/Week6_RobotLocalization"]
	path = ClassExercises/Week6_HMM/Week6_RobotLocalization
	url = https://github.com/Ursinus-CS477-F2021/Week6_RobotLocalization.git
[submodule "Assignments/HW7_NeuralNets/TensorflowDigitsTest"]
	path = Assignments/HW7_NeuralNets/TensorflowDigitsTest
	url = https://github.com/Ursinus-CS477-F2021/TensorflowDigitsTest.git
[submodule "Materials/MazeExplorer"]
	path = Materials/MazeExplorer
	url = https://github.com/ursinus-cs477-f2023/MazeExplorer.git
[submodule "Assignments/HW2_RushHour/rushhour"]
	path = Assignments/HW2_RushHour/rushhour
	url = https://github.com/ursinus-cs477-f2023/rushhour.git
[submodule "Assignments/HW2_RushHour/HW2_RushHour"]
	path = Assignments/HW2_RushHour/HW2_RushHour
	url = https://github.com/ursinus-cs477-f2023/HW2_RushHour.git
[submodule "ClassExercises/Week2_8Puzzle/Week2_8Puzzle"]
	path = ClassExercises/Week2_8Puzzle/Week2_8Puzzle
	url = https://github.com/ursinus-cs477-f2023/Week2_8Puzzle.git
[submodule "ClassExercises/Week2_pyMaze/Week2_pyMaze"]
	path = ClassExercises/Week2_pyMaze/Week2_pyMaze
	url = https://github.com/ursinus-cs477-f2023/Week2_pyMaze.git
[submodule "ClassExercises/Week3_GameTrees/Week3_GameTrees"]
	path = ClassExercises/Week3_GameTrees/Week3_GameTrees
	url = https://github.com/ursinus-cs477-f2023/Week3_GameTrees.git
[submodule "Assignments/HW3_Markov/HW3_Markov"]
	path = Assignments/HW3_Markov/HW3_Markov
	url = https://github.com/ursinus-cs477-f2023/HW3_Markov.git
[submodule "ClassExercises/Week6_HMM/CaptainHMarkov"]
	path = ClassExercises/Week6_HMM/CaptainHMarkov
	url = https://github.com/ursinus-cs477-f2023/CaptainHMarkov.git
[submodule "ClassExercises/Week5_RobotLocalization/Week5_RobotLocalization"]
	path = ClassExercises/Week5_RobotLocalization/Week5_RobotLocalization
	url = https://github.com/ursinus-cs477-f2023/Week5_RobotLocalization.git
[submodule "ClassExercises/Week6_MDP/Week6_MDP"]
	path = ClassExercises/Week6_MDP/Week6_MDP
	url = https://github.com/ursinus-cs477-f2023/Week6_MDP.git
[submodule "ClassExercises/Week7_DigitsNN/Week7_DigitsNN"]
	path = ClassExercises/Week7_DigitsNN/Week7_DigitsNN
	url = https://github.com/ursinus-cs477-f2023/Week7_DigitsNN.git
[submodule "Assignments/HW4_FundamentalFreq/HW4_FundamentalFreq"]
	path = Assignments/HW4_FundamentalFreq/HW4_FundamentalFreq
	url = https://github.com/ursinus-cs477-f2023/HW4_FundamentalFreq.git
[submodule "ClassExercises/Week7_PCA/Week7_PCA"]
	path = ClassExercises/Week7_PCA/Week7_PCA
	url = https://github.com/ursinus-cs477-f2023/Week7_PCA.git
[submodule "ClassExercises/Week8_SoftmaxDigits/Week8_DigitsSoftmax"]
	path = ClassExercises/Week8_SoftmaxDigits/Week8_DigitsSoftmax
	url = https://github.com/ursinus-cs477-f2023/Week8_DigitsSoftmax.git
[submodule "Assignments/HW6_BYOMLP/HW6_BYOMLP"]
	path = Assignments/HW6_BYOMLP/HW6_BYOMLP
	url = https://github.com/ursinus-cs477-f2023/HW6_BYOMLP.git
[submodule "ClassExercises/Week10_DiscSeparate/TensorflowDiscSeparate"]
	path = ClassExercises/Week10_DiscSeparate/TensorflowDiscSeparate
	url = https://github.com/ursinus-cs477-f2023/TensorflowDiscSeparate.git
[submodule "ClassExercises/Week11_Autoencoder/Week11_Autoencoder"]
	path = ClassExercises/Week11_Autoencoder/Week11_Autoencoder
	url = https://github.com/ctralie/Week11_Autoencoder.git
[submodule "ClassExercises/Week12_VariationalAutoencoders/Week12_VariationalAutoencoders"]
	path = ClassExercises/Week12_VariationalAutoencoders/Week12_VariationalAutoencoders
	url = https://github.com/ursinus-cs477-f2023/Week12_VariationalAutoencoders.git
[submodule "Assignments/HW7_UNetDiffusion/HW7_LungSegmentation"]
	path = Assignments/HW7_UNetDiffusion/HW7_LungSegmentation
	url = https://github.com/ursinus-cs477-f2023/HW7_LungSegmentation.git
[submodule "ClassExercises/Week14_Diffusion/Week14_Diffusion"]
	path = ClassExercises/Week14_Diffusion/Week14_Diffusion
	url = https://github.com/ursinus-cs477-f2023/Week14_Diffusion.git
[submodule "Assignments/HW7_GANUNet/HW7_GAN"]
	path = Assignments/HW7_GANUNet/HW7_GAN
	url = https://github.com/ursinus-cs477-f2023/HW7_GAN.git
