[submodule "ClassExercises/Week1_COVID/Week1_COVID"]
	path = ClassExercises/Week1_COVID/Week1_COVID
	url = https://github.com/Ursinus-CS477-F2021/Week1_COVID.git
[submodule "Materials/MazeExplorer"]
	path = Materials/MazeExplorer
	url = https://github.com/Ursinus-CS477-F2021/MazeExplorer.git
[submodule "Assignments/HW2_RushHour/rushhour"]
	path = Assignments/HW2_RushHour/rushhour
	url = https://github.com/Ursinus-CS477-F2021/rushhour.git
[submodule "Assignments/HW2_RushHour/HW2_RushHour"]
	path = Assignments/HW2_RushHour/HW2_RushHour
	url = https://github.com/Ursinus-CS477-F2021/HW2_RushHour.git
[submodule "ClassExercises/Week2_8Puzzle/Week2_8Puzzle"]
	path = ClassExercises/Week2_8Puzzle/Week2_8Puzzle
	url = https://github.com/Ursinus-CS477-F2021/Week2_8Puzzle.git
[submodule "Assignments/HW3_Markov/HW3_Markov"]
	path = Assignments/HW3_Markov/HW3_Markov
	url = https://github.com/Ursinus-CS477-F2021/HW3_Markov.git
[submodule "ClassExercises/Week6_Music_Speech"]
	path = ClassExercises/Week6_Music_Speech
	url = https://github.com/Ursinus-CS477-F2021/Week6_Music_Speech.git
[submodule "ClassExercises/Week6_HMM/Week6_RobotLocalization"]
	path = ClassExercises/Week6_HMM/Week6_RobotLocalization
	url = https://github.com/Ursinus-CS477-F2021/Week6_RobotLocalization.git
[submodule "Assignments/HW4_RobotLocalization/HW4_RobotLocalization"]
	path = Assignments/HW4_RobotLocalization/HW4_RobotLocalization
	url = https://github.com/Ursinus-CS477-F2021/HW4_RobotLocalization.git
[submodule "ClassExercises/Week7_DigitsNN"]
	path = ClassExercises/Week7_DigitsNN
	url = https://github.com/Ursinus-CS477-F2021/Week7_DigitsNN.git
[submodule "ClassExercises/Week8_NMF/NMFBuildAFace"]
	path = ClassExercises/Week8_NMF/NMFBuildAFace
	url = https://github.com/Ursinus-CS477-F2021/NMFBuildAFace.git
[submodule "Assignments/HW5a_3DShapeCluster/HW5a_3DShapeCluster"]
	path = Assignments/HW5a_3DShapeCluster/HW5a_3DShapeCluster
	url = https://github.com/Ursinus-CS477-F2021/HW5a_3DShapeCluster.git
[submodule "ClassExercises/Week10_VisualBOW/VisualBOW"]
	path = ClassExercises/Week10_VisualBOW/VisualBOW
	url = https://github.com/Ursinus-CS477-F2021/VisualBOW.git
[submodule "Assignments/HW5b_Unsupervised/HW5b_Components"]
	path = Assignments/HW5b_Unsupervised/HW5b_Components
	url = https://github.com/Ursinus-CS477-F2021/HW5b_Components.git
